.table-view {
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.column-header {
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-min-height: 25;
}

.table-cell {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#tblCustomers.table-row-cell:selected{
    -fx-selection-bar: #B5592A;
    -fx-font-weight: bold;
}

#tblItems.table-row-cell:selected{
    -fx-selection-bar:  #CD113B;
    -fx-font-weight: bold;
}