/*#tblCustomers {*/
/*    -fx-font-weight: bold;*/
/*    -fx-text-fill: black;*/
/*}*/

.table-view {
    -fx-font-weight: bold; /* Set font weight to bold for the table content */
    -fx-border-width: 1; /* Set border width */
    -fx-border-color: black; /* Set border color */
}

/* Style for JFXTreeTableView header */
.column-header {
    -fx-font-weight: bold; /* Set font weight to bold for the header */
    -fx-text-fill: black; /* Set font color to black for the header */
    -fx-min-height: 25; /* Set the header height */
}

/* Style for JFXTreeTableColumn cells */
.table-cell {
    -fx-font-weight: bold; /* Set font weight to bold for the cells */
    -fx-text-fill: black; /* Set font color to black for the cells */
}

#tblCustomers.table-row-cell:selected{
    -fx-selection-bar: #B5592A;
    -fx-font-weight: bold;
}

#tblItems.table-row-cell:selected{
    -fx-selection-bar:  #CD113B;
    -fx-font-weight: bold;
}
